* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: black; 
    overflow-x: hidden;
}

.vid-header
{
    display: flex;
    align-items: center;
    color: white;
    height: 100vh;

}

.container
{
    text-align: center;
    max-width: 960px; 
    margin: auto;
}

.vid-wrap
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh;
    overflow: hidden;
}

.vid-wrap video 
{
    min-width: 100%;
    min-height: 100%;
}

.nav-bar
{
    height: 100vh;
    width: 100%;
    margin-top: 30px;
    background: transparent;
    color: white;
    z-index: 1;
}

.navlink ul
{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: 1px 1px lightgray;
    margin: 25px 50px 0 0;
}

.navlink a:hover
{
    opacity: .5;
}

.navlink img
{
    vertical-align: bottom;
    text-shadow: 1px 1px lightgray;
}

.navlink img:hover
{
    background-image: url(img/colosseumbg.png);
    transform: .25s ease-in-out;
    -webkit-transform: .25s ease-in-out;
    -moz-transform: .25s ease-in-out;
    -ms-transform: .25s ease-in-out;
    -o-transform: .25s ease-in-out;
}

.welcome h1
{
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 3rem;
    position: absolute;
    background: transparent;
    color: white;
    z-index: 1;
    margin-top: -65px;
    margin-left: -85px;
    text-shadow: 1px 1px lightgray;
}

.welcome h2
{
    font-family: 'Merriweather',
    serif;
    font-weight: lighter;
    font-size: 1.5rem;
    position: absolute;
    background: transparent;
    color: white;
    z-index: 1;
    margin-top: 10px;
    margin-left: -85px;
    text-shadow: 1px 1px darkgray;
}

.welcome button {
    height: 50px;
    width: 150px;
    border: 2px solid darkred;
    background-color: darkred;
    color: ivory;
    position: absolute;
    margin-top: 70px;
    margin-left: -85px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.welcome button:hover {
    background-color: transparent;
}

/*History Section*/

.history 
{
    height: 100vh;
    width: 100%;
    background-color: ivory;
}

.history img
{
    width: 1050px;
    height: 575px;
    top: 50%;
    left: 50%;
    transform: translate(25%, 25%);
    -webkit-transform: translate(25%, 25%);
    -moz-transform: translate(25%, 25%);
    -ms-transform: translate(25%, 25%);
    -o-transform: translate(25%, 25%);
}

.history-container
{
    position: relative;
}

.history a {
    color: inherit;
    text-decoration: none;
}

.history a:visited
{
    color:inherit;
    text-decoration: none;
}

.text-box 
{
    position: absolute;
    bottom: -55px;
    right: 250px;
    background-color: #800000;
    color: white;
    padding: 35px;
}

.text-box h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.text-box p
{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 20px;
}

.text-box button
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
    height: 32px;
    width: 230px;
    background: white;
    border-radius: 40px;
    border: none;
    color: #800000;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.text-box button:hover
{
    background-color: #800000;
    color: white;
    border: 2px solid white;
    transition: .55s ease-in-out;
    -webkit-transition: .55s ease-in-out;
    -moz-transition: .55s ease-in-out;
    -ms-transition: .55s ease-in-out;
    -o-transition: .55s ease-in-out;
}

/*Attractions Section */

.attractions 
{
    height: 100vh;
    width: 100vw;
    background-image: url(img/roma.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -35px;
}

.attractions img 
{
    width: 950px;
    height: 525px;
    top: 50%;
    left: 50%;
    transform: translate(50%, 8%);
    -webkit-transform: translate(50%, 8%);
    -moz-transform: translate(50%, 8%);
    -ms-transform: translate(50%, 8%);
    -o-transform: translate(50%, 8%);
}

.attractions .container 
{
    position: relative;
}

.text-block 
{
    position: absolute;
    background-color: #800000;
    color: white;
    padding: 35px;
    margin-top: -145px;
    margin-left: 250px;
}

.text-block h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bolder;
}

.text-block p 
{
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    font-size: 16px;
    margin: 5px 0 12px 0;
}

.text-block button 
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    width: 150px;
    background: white;
    border-radius: 40px;
    border: none;
    color: #800000;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.text-block button:hover {
    background-color: #800000;
    color: white;
    border: 2px solid white;
    transition: .55s ease-in-out;
    -webkit-transition: .55s ease-in-out;
    -moz-transition: .55s ease-in-out;
    -ms-transition: .55s ease-in-out;
    -o-transition: .55s ease-in-out;
}

.text-block a
{
    text-decoration: none;
    color: inherit;
}

.attractions .title h1
{
    font-family: 'Merriweather', serif;
    font-size: 50px; 
    text-align: center;
    padding-top: 65px;
}

.dot 
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 35px 2px;
    background-color: darkred;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -ms-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.active,
.dot:hover {
    background-color: ivory;
    border: 2px solid darkred;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Sites Section */


.sites
{
    height: 80vh;
    width: 100%;
    background-image: url(img/pantheonbg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.sites h1
{
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

.site-container
{
   display: inline-flex;
   padding: 10px 350px;
   margin: 0 auto;
}

.card 
{
    width: 350px;
    height: 250px;
    background-color: white;
}

.card a
{
    text-decoration: none;
    color: inherit;
}

.card a:visited
{
    text-decoration: none; 
    color: inherit;
}

.site-card
{
    margin: 25px;
    width: 350px;
    height: 475px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.site-card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-top: .5px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.container 
{
    padding: 2px 16px;
}

.container h4
{
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bold;
}

.container p 
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* Social Media Section */

.social
{
    width: 100%;
    height: 85vh;
    background-color: darkred;
}

.social h1
{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 60px;
}

.gallery 
{
  display: inline-flex;
  margin: 2rem 2rem 0 15rem;
}

.gallery-img:hover
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.gallery-img img 
{
    width: 350px;
    height: 250px;
    margin: -35px 4px 0 0;
}

/* Footer */

footer
{
    height: 35vh;
    width:100%;
    background: ivory;
}

.container-footer 
{
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container-footer img
{
    height: 125px;
    width: auto;
}

.container-footer h4
{
    font-family: 'Merriweather', serif;
    font-size: 20px;
}

.footer-social
{
    padding: 5px;
}

.footer-social img
{
    height: 40px;
    width: auto;
}

/* Places To Go Page*/

.header-container {
    text-align: center;
    max-width: 960px;
    margin: auto;
    padding: 0 1rem 0 1rem;
}

.image-wrap 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.image-wrap img
{
    width: 100%;
    height: 75vh;
}
.nav-bar {
    height: 100vh;
    width: 100vw;
    margin-top: 20px;
    margin-left: 60px;
    position: absolute;
    background: transparent;
    color: white;
    z-index: 1;
}

.nav-bar a,

li {
    display: inline;
    position: relative;
    margin: 12px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 25px;
}

.nav-bar a:hover {
    opacity: .5;
}

.navlink img {
    vertical-align: bottom;
}

.navlink img:hover {
    background-image: url(img/colosseumbg.png);
}

.page-header h1
{
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 3rem;
    position: absolute;
    background: transparent;
    color: white;
    z-index: 1;
    top:50%;
    left: 50%;
    transform: translate(-50%,-20%) ;
    -webkit-transform: translate(-50%,-20%) ;
    -moz-transform: translate(-50%,-20%) ;
    -ms-transform: translate(-50%,-20%) ;
    -o-transform: translate(-50%,-20%) ;
    text-shadow: 1px 1px darkgray;
}

.destinations
{
    height: 125vh;
    width:100%;
    background-color: bisque;
}

.nav-destinations
{
    display: inline-flex;
}

.nav-image img
{
    width: 450px;
    height: 375px;
    top: 50%;
    left: 50%;
    transform: translate(50%, 203%);
    -webkit-transform: translate(50%, 203%);
    -moz-transform: translate(50%, 203%);
    -ms-transform: translate(50%, 203%);
    -o-transform: translate(50%, 203%);
    padding: 2px;
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

.nav-image li:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.nav-image ul
{
    display: inline-flex;
    
}
.nav-image h1
{
    font-family: 'Merriweather', serif;
    font-size: 45px;
    color: white;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(50%, 750%);
    -webkit-transform: translate(50%, 750%);
    -moz-transform: translate(50%, 750%);
    -ms-transform: translate(50%, 750%);
    -o-transform: translate(50%, 750%);
    z-index: 1;
    text-align: center;
    text-shadow: 1px 1px darkgray;
}

.nav-image a
{
    text-decoration: none;
}

/* Palaces Section */

#palaces
{
    height: 195vh;
    width: 100%;
    background-color: darkred;
    padding: 125px;
}

.palaces-container
{
    display: inline-block;
    margin-left: 11.5rem;
}

.palace
{
    border: 1px solid ivory;
    height: 32rem;
    width: 80rem;
    background-color: ivory;
    margin-bottom: 30px;
}

.palace img /* Add crossfading image of interior of the palace */
{
    float: left;
    height: 457px;
    width: 550px;
    padding: 15px;
    margin: 15px;
}

.palace p
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    padding: 25px;
}

/* Vatican Section */

#vatican {
    height: 195vh;
    width: 100%;
    background-color: bisque;
    padding: 125px;
}

.vatican-container {
    display: inline-block;
    margin-left: 11.5rem;
}

.vatican-site {
    border: 1px solid black;
    height: 32rem;
    width: 80rem;
    background-color: ivory;
    margin-bottom: 30px;
}

.vatican-site img

/* Add crossfading image of interior of the palace */
    {
    float: left;
    height: 457px;
    width: 550px;
    padding: 15px;
    margin: 15px;
}

.vatican-site p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    padding: 25px;
}

/* Museums Section */

#museum 
{
    height: 195vh;
    width: 100%;
    background-color: darkred;
    padding: 125px;
}

.museum-container 
{
    display: inline-block;
    margin-left: 11.5rem;
}

.museum-site 
{
    border: 1px solid black;
    height: 32rem;
    width: 80rem;
    background-color: ivory;
    margin-bottom: 30px;
}

.museum-site img
{
    float: left;
    height: 457px;
    width: 550px;
    padding: 15px;
    margin: 15px;
}

.museum-site p 
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    padding: 25px;
}

/*Things To Do Page*/

.things-container {
    text-align: center;
    max-width: 960px;
    margin: auto;
    padding: 0 1rem 0 1rem;
}

.things-wrap 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
}

.things-wrap img 
{
    width: 100%;
    height: 75vh;
}

.things-navbar 
{
    height: 100vh;
    width: 100vw;
    margin-top: 20px;
    margin-left: 60px;
    position: absolute;
    background: transparent;
    color: white;
    z-index: 1;
}

.things-navbar a,li 
{
    display: inline;
    position: relative;
    margin: 12px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 25px;
}

.things-navbar a:hover {
    opacity: .5;
}

.things-navlink img {
    vertical-align: bottom;
}

.things-navlink img:hover {
    background-image: url(img/colosseumbg.png);
}

.things-header h1 
{
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 3rem;
    position: absolute;
    background: transparent;
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    -webkit-transform: translate(-50%, -20%);
    -moz-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    -o-transform: translate(-50%, -20%);
    text-shadow: 1px 1px darkgray;
}

/*Intro Pantheon Section*/

.pantheon 
{
    height: 145vh;
    width: 100%;
    background-color: ivory;
}

.pantheon-history 
{
    margin: 0 100px 0 100px;
    top: 0;
    left: 0;
    transform:   translate(1%, 170%);
    -webkit-transform:   translate(1%, 170%);
    -moz-transform:   translate(1%, 170%);
    -ms-transform:   translate(1%, 170%);
    -o-transform:   translate(1%, 170%);
    text-align: justify;
}

.pantheon-history h1
{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.pantheon-history p
{
    font-family: 'Merriweather', serif;
    font-size: 15px;    
}

/* Rome History Section*/

.rome-history
{
    height: 75vh;
}

/*Pantheon Row*/

.pantheon-left
{
    background-color: darkred;
    height: 75vh;
}

.pantheon-right
{
    background-image: url(img/pantheon.jpg);
    background-size: cover;
    height: 75vh;
}

.pantheon-left p
{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 10px;
    margin: 0 50px 0 50px;
    color: white;
    text-align: justify;

}

.pantheon-left h1
{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 55px;
    padding-bottom: 20px;
}

/* Trevi Fountain Row*/

.trevi-right
{
    background-color: ivory;
    height: 75vh;
}

.trevi-left 
{
    background-image: url(img/trevi.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
}

.trevi-right p 
{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 10px;
    margin: 0 50px 0 50px;
    color: black;
    text-align: justify;
}

.trevi-right h1 
{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    color: black;
    padding-top: 55px;
    padding-bottom: 20px;
}

/*Piazza Navona*/

.navona-left {
    background-color: darkred;
    height: 75vh;
}

.navona-right {
    background-image: url(img/piazza.jpg);
    background-size: cover;
    height: 75vh;
}

.navona-left p {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 10px;
    margin: 0 50px 0 50px;
    color: white;
    text-align: justify;

}

.navona-left h1 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 55px;
    padding-bottom: 20px;
}

/* The Colosseum*/

.colosseum-right {
    background-color: ivory;
    height: 75vh;
    margin-bottom: 30px;
}

.colosseum-left {
    background-image: url(img/colosseum1.jpg);
    background-position: center;
    background-size: 800px 550px;
    background-repeat: no-repeat;
    height: 75vh;
    margin-bottom: 30px;
}

.colosseum-right p {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 10px;
    margin: 0 50px 0 50px;
    color: black;
    text-align: justify;
}

.colosseum-right h1 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    color: black;
    padding-top: 55px;
    padding-bottom: 20px;
}

/*Vatican City*/
.vatican-left {
    background-color: darkred;
    height: 75vh;
}

.vatican-right {
    background-image: url(img/vatican.jpg);
    background-size: cover;
    height: 75vh;
}

.vatican-left p {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 10px;
    margin: 0 50px 0 50px;
    color: white;
    text-align: justify;

}

.vatican-left h1 {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-align: center;
    color: white;
    padding-top: 55px;
    padding-bottom: 20px;
}
/* Plan Your Trip Page*/

.plan-container {
    text-align: center;
    max-width: 960px;
    margin: auto;
    padding: 0 1rem 0 1rem;
}

.plan-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
}

.plan-wrap img {
    width: 100%;
    height: 75vh;
}

.plan-navbar {
    height: 75vh;
    width: 100vw;
    margin-top: 20px;
    margin-left: 60px;
    position: absolute;
    background: transparent;
    color: white;
    z-index: 1;
}

.plan-navbar a,
li {
    display: inline;
    position: relative;
    margin: 12px;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 25px;
}

.plan-navbar a:hover {
    opacity: .5;
}

.plan-navlink img {
    vertical-align: bottom;
}

.plan-navlink img:hover {
    background-image: url(img/colosseumbg.png);
}

.plan-header h1 {
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    font-size: 3rem;
    position: absolute;
    background: transparent;
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    -webkit-transform: translate(-50%, -20%);
    -moz-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    -o-transform: translate(-50%, -20%);
    text-shadow: 2px 2px black;
}

/* Plan Your Trip Navbar Section*/

.container-nav
{
    background-color: darkred;
    height: 4.10vh; 
}

.trip-navbar
{
    top: 0;
    left: 0;
    transform:translate(0%,1830%);
    -webkit-transform:translate(0%,1830%);
    -moz-transform:translate(0%,1830%);
    -ms-transform:translate(0%,1830%);
    -o-transform:translate(0%,1830%);
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.trip-nav li
{
    font-family: 'Merriweather', serif;
    font-size: 25px;
    color: white;
    margin: 30px;
    cursor: pointer;
}

.trip-nav a:hover
{
    opacity: .50;
}

.trip-nav a {
    text-decoration: none;
    color: inherit;
}

.trip-nav a:visited
{
    text-decoration: none;
    color: inherit;
}

/*Places To Stay*/

.stay {
    margin-top: 550px;
    height: 150vh;
    width: 100%;
    background-color: ivory;
    margin-top: 45rem;
}

.stay h2 {
    text-align: center;
    padding: 50px 80px 0 80px;
    margin-top: 100px;
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

.stay h3 {
    text-align: center;
    padding: 10px 100px 0 100px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.stay-container {
    display: inline-flex;
    padding: 10px 70px;
    margin: 0 auto;
}

.card-stay {
    width: 350px;
    height: 250px;
    background-color: white;
}

.card-stay a {
    text-decoration: none;
    color: inherit;
}

.card-stay a:visited {
    text-decoration: none;
    color: inherit;
}

.stay-card {
    margin: 25px;
    width: 350px;
    height: 475px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.stay-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-top: .5px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.stay-details {
    padding: 2px 16px;
}

.stay-details h4 {
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.stay-details p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
}

/*Tours Section*/

#tours
{
    background-color: darkred;
    height: 125vh;
}
#tours .tours-container {
    width: 100%;
    height: 100vh;
    margin-top: 80px;
}

.title-tours h2 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: white;
    padding-top: 50px;
    text-align: center;
}

.tours-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 5px 10px 0 0px;
    padding: 20px;
}

.toursCard {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-155%, -12%);
    width: 450px;
    height: 400px;
    margin: 5px 5px 5px 8px;
    padding: 2px;
    border-radius: 8px;
    overflow: hidden;
    clear: both;
    -webkit-transform: translate(-155%, -12%);
    -moz-transform: translate(-155%, -12%);
    -ms-transform: translate(-155%, -12%);
    -o-transform: translate(-155%, -12%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.toursCard .toursImage,
.toursCard .toursDetails {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.toursCard .toursImage {
    top: 0;
    left: 0;
}

.toursCard:hover .toursImage {
    top: -100%;
    left: 0%;
}

.toursCard .toursImage img {
    width: 100%;
    height: 100%;
}

.toursCard .toursDetails {
    background: white;
    top: 100%;
    left: 0%;
    padding: 40px 10px 60px 20px;
}

.toursCard:hover .toursDetails {
    top: 0%;
    left: 0%;
}

.toursCard .toursDetails h2 {
    color: black;
    text-align: left;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

.toursCard .toursDetails h3 {
    color: black;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    font-family: 'Merriweather', serif;
}

.toursCard .toursDetails p {
    margin: 8px 0 10px 2px;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


.toursCard .toursDetails button {
    width: 110px;
    height: 40px;
    margin: 8px;
    border: .5px solid darkred;
    color: white;
    background: darkred;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.toursCard .toursDetails button:hover {
    background: white;
    color: black;
    border: 2px solid darkred;
    font-weight: bold;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.toursCard .toursDetails a {
    color: inherit;
    text-decoration: none;
}


.toursCard .toursDetails a:visited {
    color: inherit;
    text-decoration: none;
}

/*Transportation Section*/
.transpo {
    width: 100%;
    height: 60vh;
    background-color: bisque;
}

.transpo-title h1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 50px;
}

div.public-transport
{
    padding: 20px;
}

div.public-transport 
{
    display: inline-flex;
    margin: 5px;
    border: 2px solid white;
    width: 425px;
    height: 335px;
    top: 50%;
    left: 50%;
    transform: translate(-155%, -5%);
    -webkit-transform: translate(-155%, -5%);
    -moz-transform: translate(-155%, -5%);
    -ms-transform: translate(-155%, -5%);
    -o-transform: translate(-155%, -5%);
    position: relative;
}

div.public-transport img {
    position:absolute;
    width:50px;
    height: 50px;
}

div.public-transport h2
{
    margin-left: 80px;
    margin-top: 12px;
}

div.public-transport p
{
    margin-top: 70px;
    float: left;
    margin-left:-155px;
    padding: 20px;
}

div.public-transport:hover
{
    background: white;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/*Drink & Dine Section*/

.drinkDine
{
    height: 135vh;
    width: 100%;
    background-color: darkred;
}

.dine-title h1
{
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 40px;
    text-align: center;
    padding: 50px 35px 0 0;
}

.restaurants-container
{
    column-count: 2;
    border: 2px solid transparent;
    background-color: ivory;
    height: 325px;
    width: 1000px;
    top: 0;
    left: 0;
    transform: translate(42%,5%);
    -webkit-transform: translate(42%,5%);
    -moz-transform: translate(42%,5%);
    -ms-transform: translate(42%,5%);
    -o-transform: translate(42%,5%);
    margin: 20px;
}

.restaurants-container img
{
    margin: 0;
    height: 321px;
    width: 500px;
}   

.restaurants-container h1
{
    font-family: 'Merriweather',serif;
    font-size: 25px;
    margin: 15px;
    padding-top: 10px;
}

.restaurants-container h3
{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin: 15px;
}

.restaurants-container p
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 15px;
}

.restaurants-container button {
    width: 100px;
    height: 30px;
    margin: -15px 0 0 15px;
    border: .5px solid darkred;
    color: white;
    background: darkred;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.restaurants-container button:hover {
    background: white;
    color: black;
    border: 2px solid darkred;
    font-weight: bold;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}